<footer>
  <div class="f-info">
    <div class="f-info-socials">
     <a href="https://github.com/Abhi9356475218"><i class="fa-brands fa-square-github"></i></a>
     <a href="https://www.linkedin.com/in/abhishek-kombe-5a0215246/" <i class="fa-brands fa-linkedin"></i></a>
    </div>
    <div class="f-info-brand">&copy; 2024 Company. RentNest Clone by Abhishek</div>
    <div class="f-info-links">
      <a href="#">Privacy</a>&nbsp;
      <a href="#">Terms</a>
    </div>
  </div>
</footer>
